<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Everis FullStack developer</title>

    <link rel="shortcut icon" href="/dio_everis logo.png">
</head>

<body>
    <header>
        <img src="/img/IMG-20190207-WA0008.jpg" alt="ilustração do rosto de Luan Ramalho">
        <h1>Luan da Silva Ramalho</h1>
    </header>
    <section>
        <h2>POSTS</h2>
        <article>
            <header>
                <h3>POST #1</h3>
                <img src="/img/html code.jpg" alt="Editor de texto mostrando códigos HTML">
            </header>
            <p>
                Lorem Ipsum is simply dummy <a href="https://www.linkedin.com/in/luan-ramalholsr" target="_blank">Linkedin </a> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <a href="mailto:luanfswd@gmail.com" target="_blank">E-mail </a> It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br><br>
            </p>
        </article>
    </section>
    <footer>
        <ul>
            <li>
                <a href="https://github.com/luanlsr" target="_blank">GitHub</a>
            </li>
            <li>
                <a href="mailto:luanfswd@gmail.com" target="_blank">E-mail</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/luan-ramalholsr" target="_blank">Linkedin</a>
            </li>
        </ul>
    </footer>
</body>

</html>